<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIdentifier</key>
	<string>com.omz-software.${PRODUCT_NAME:identifier}</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>${CURRENT_PROJECT_VERSION}</string>
	<key>CFBundleVersion</key>
	<string>${CURRENT_PROJECT_VERSION}</string>
	<key>NSPrincipalClass</key>
	<string>OMColorHelper</string>
	<key>XCGCReady</key>
	<true/>
	<key>XCPluginHasUI</key>
	<false/>
	<key>DVTPlugInCompatibilityUUIDs</key>
	<array>
		<string>A2E4D43F-41F4-4FB9-BB94-7177011C9AED</string>
		<string>640F884E-CE55-4B40-87C0-8869546CAB7A</string>
		<string>63FC1C47-140D-42B0-BB4D-A10B2D225574</string>
		<string>37B30044-3B14-46BA-ABAA-F01000C27B63</string>
	</array>
	<key>XC4Compatible</key>
	<true/>
</dict>
</plist>
